.wrapper {
    width: 320px;
    padding: 16px 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.avatar {
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}

.info {
    display: block;
    margin-bottom: 8px;
}

.username {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
}

.check {
    width: 16px;
    height: 16px;
    color: rgb(32, 213, 236);
    margin-left: 5px;
}

.name {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 700;
    line-height: 15px;
    max-width: 145px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.footer {
    position: relative;
    display: flex;
    gap: 12px;
    font-size: 1.6rem;
    margin-bottom: 24px;
    &::before {
        content: '';
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: -24px;
        height: 1px;
        background: rgba(22, 24, 35, 0.7);
        transform: scaleY(0.5);
    }
}

.value {
    font-weight: 700;
    margin-right: 4px;
}

.label {
    font-weight: 400;
}

.bio {
    padding-top: 16px;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 8px;
}
