.search-wrapper,
.search-result {
    padding: 8px;
    width: 500px;
    min-width: 200px;
}

.search {
    --search-height: 46px;
    --search-btn-width: 52px;
    --search-top-spacer: 18px;

    position: relative;
    display: flex;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    -webkit-border-radius: 92px;
    -moz-border-radius: 92px;
    -ms-border-radius: 92px;
    -o-border-radius: 92px;
    padding-left: 16px;
    border: 1.5px solid transparent;
    input {
        flex: 1;
        height: 100%;
        color: var(--text-color);
        font-size: 1.6rem;
        background-color: transparent;
        caret-color: var(--primary);
        font-family: var(--font-family);
        padding-right: 40px;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    button {
        background-color: transparent;
    }

    &::after {
        position: absolute;
        top: calc(var(--search-top-spacer) / 2);
        right: var(--search-btn-width);
        content: '';
        background-color: rgba(22, 24, 35, 0.12);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer));
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-result {
    max-height: 800px;
}

.search-title {
    padding: 0 12px;
    margin-bottom: 10px;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 500;
}

.loading,
.clear {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    svg {
        font-size: 1.2rem;
        width: 15px;
        height: 15px;
    }
}
.loading {
    pointer-events: none;
    svg {
        display: inline-block;
        animation: rotation linear infinite;
        -webkit-animation: rotation 1s linear infinite;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--search-btn-width);
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    font-size: 2.1rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
